.cursor-poiter {
  cursor: pointer;
}

.border-black {
  border: 1px solid black;
}

.shadow-item {
  box-shadow: 0px 1px 1px 0px;
}

.shadow-item-last {
  box-shadow: 2px 1px 1px 0px;
}

.menu-active {
  background-color: rgb(153, 153, 153);
}

.label-custom {
  font-size: 18px;
  font-weight: 500;
}

.w-20 {
  width: 20%;
}