button:focus {
  outline:0;
  box-shadow: 0 0 0 0 !important;
}

.ba-25 .rest .max-width-250-px {
  max-width: 250px;
}

.ba-25 .rest .card-content {
  padding: 1rem 1rem 0 1rem;
  text-align: left;
}