.icon-billings {
  color: black;
}

.min-w-240 {
  min-width: 250px !important;
}

.max-w-300 {
  max-width: 300px !important;
}

.w-15 {
  width: 15% !important;
}

.w-85 {
  width: 85% !important;
}

.overflow-auto {
  overflow: auto;
}